.modal-title {
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    text-align: center;
    padding: 20px 0;
}

.modal-footer {
    button {
        width: 40%;
    }
}

.button {
    padding: 10px 30px;
}
