<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
  <title>Ответы на повросы</title>
</head>
<body>

<div class="tariff">
  <svg class="tariff__svg-lib">
    <symbol id="icon-checked" viewBox="0 0 24 24">
      <path d="M24 12a12 12 0 11-24 0 12 12 0 0124 0zm-5.955-4.545a1.124 1.124 0 00-1.62.033l-5.21 6.638-3.139-3.141a1.125 1.125 0 00-1.59 1.59l3.969 3.97a1.125 1.125 0 001.618-.03l5.988-7.485a1.125 1.125 0 00-.014-1.575h-.002z" fill="#3398CC"/>
    </symbol>
    <symbol id="icon-unchecked" viewBox="0 0 24 24">
      <circle cx="12" cy="12" r="12" fill="#FA8585"/>
      <path d="M18 7.05L16.95 6 12 10.95 7.05 6 6 7.05 10.95 12 6 16.95 7.05 18 12 13.05 16.95 18 18 16.95 13.05 12 18 7.05z" fill="#fff"/>
    </symbol>
    <symbol id="icon-arrow">
      <path d="M3 8l9 8 9-8" stroke="#3398CC" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
  </svg>

  <div class="tariff__wrapper3">
      <div class="services-settings__note2">
    <a class="button" onclick="javascript:history.back(); return false;">Назад</a>
  </div>

  <div class="tariff__wrapper3">
    <div class="toggled-head2">
  <h2 class="toggled-head__title">Часто задаваемые вопросы</h2>
  <p class="services-settings__note3">
      Если на ваши вопросы нет ответов ниже, не стесняйтесь, напишите нам по адресу <a href="mailto:support@liftme.pro?">support@liftme.pro</a> или в раздел "Поддержка". Мы реальные люди, и мы будем рады вам помочь.
    </p>
  </div>


  <div class="tariff__wrapper">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Безопасен ли ваш сервис?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
      Да, наш сервис полностью безопасен. У нас тысячи клиентов, пользующихся нашими услугами, и мы заботимся о том, чтобы все процессы и ваши данные были в безопасности. Безопасность вашей учетной записи и хорошая репутация - наш приоритет номер один, наряду с увеличением количества ваших подписчиков.
    </p>
    <div class="services-settings__content-top">
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Как быстро я увижу результаты?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
      Если у вашего аккаунта хорошая репутация в Instagram, не было блокировок из-за сомнительного контента, вы начнете набирать подписчиков в течение одного дня, а иногда и сразу. Чем дольше вы работаете в нашем сервисе, тем лучше будут ваши результаты, поскольку мы сможем серьезно оптимизировать вашу целевую аудиторию с помощью нашего алгоритма.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Что делать, если у меня новый аккаунт?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
      Мы можем продвигать любой профиль, но имейте в виду что, если вы начинаете проодвижение с новой учетной записи, или аккаунта, срок которого не больше месяца, наш алгоритм будет продвигать ваш аккаунт немного медленнее, чем обычно, из-за правил Instagram для новых учетных записей.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Мой аккаунт был заблокирован на похожем сервисе</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
    У нас нет небезопасных методов, все наши инструменты протестированны многократно. Ваша учетная запись могла быть заблокирована Instagram из-за небезопасных методов предыдущего сервиса. Хорошая новость в том, что со временем вы сможете исправить ваш аккаунт с помощью правильной стратегии и наших алгоритмов продвижения.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Что делать, если я хочу поменять аудиторию?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
      В нашем сервисе все настройки понятны на интуитивном уровне. Вам просто нужно изменить нужные параметры. Если у вас что-то не получается, то просто дайте нам знать, и мы поможем. Не стесняйтесь обращаться к нам в любое время, особенно когда вы видите, что ваши новые подписчики не те, кто вам нужен.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Сколько подписчиков мне ожидать?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
    Принимая во внимание ограничения Instagram, большинство наших клиентов получают очень много уникальных посещений профиля, и наш сервис привлекает от +300 до +1500 целевых подписчиков в месяц. Это средние значения. Возраст вашей учетной записи в Instagram, чем вы занимаетесь и качество вашего контента напрямую влияют на результаты продвижения. Помните, что реальный человек будет выбирать, подписываться на ваш аккаунт или нет, мы не можем ЗАСТАВИТЬ людей подписаться на вас, если им не интересен ваш контент.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Предоставляете ли вы какие нибудь гарантии?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
      Мы предлагаем 7-дневную гарантию возврата денег. Это означает, что если вы не будете довольны в течение первой недели обслуживания, просто сообщите нам, и мы вернем вам деньги. Без проблем и лишних вопросов!
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Вы просто накручиваете ботов?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
    Нет. Ваши подписчики будут настоящими людьми. Каждый человек, который подписан на вас, активный пользователь. Вам всего лишь нужно выбрать целевую аудиторию, которым действительно понравится ваш бренд и контент, который вы публикуете.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Насколько безопасно вводить пароль?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
      Наши инструменты продвижения результативны в полной мере при подключении вашей учетной записи к нашей системе. Чтобы эти алгоритмы работали у вас, вы должны доверить свой пароль в частную и безопасную серверную часть. Все пароли шифруются, поэтому не волнуйтесь, мы никогда не узнаем ваш пароль и гарантируем безопасность вашей учетной записи.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Как получить больше подписчиков?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
    Мы используем целевые действия, чтобы пользователи обратили внимание на ваш профиль. Мы взаимодействуем с вашей целевой аудиторией, после чего они решают, интересен ли им ваш аккаунт. Делайте интересный контент для вашей аудитории, правильно настраивайте параметры продвижения - остальное сделаем мы!
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Что, если я хочу прекратить продвижение?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
    Никаких проблем! Все, что нужно - это заранее отменить подписку, минимум за день до даты повторного списания, чтобы избежать списания средств за следующий месяц.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<div class="tariff__wrapper2">
    <div class="tariff__services-settings">
      <section class="services-settings">

  <div class="toggled-head">
  <h2 class="toggled-head__title">Есть ли у вас служба поддержки?</h2>
  <button type="button" class="toggled-head__toggle-button">
    <svg
      class="toggled-head__toggle-button-icon"
      width="24"
      height="24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </button>
</div>
<div class="panel">
  <form class="services-settings__main-form">
    <p class="services-settings__note">
    Конечно! Мы не можем успешно продвигать аккаунты без общения с вами. Другие сервисы часто прикрываются анонимными компаниями. Мы реальная компания, мы решаем возникающие проблемы быстро и эффективно в удобном для вас формате, текстовыми сообщениями, электронной почтой, онлайн-чатом. Мы предлагаем лучшую экспертную поддержку в отрасли.
    </p>
    <div class="services-settings__content-top">
      
    </div>
    <div class="services-settings__functions-select">
    </div>
    </div>
</div>

<script>
let acc = document.getElementsByClassName("toggled-head");
let i;
let asd = document.getElementsByClassName("toggled-head__toggle-button");

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    let panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
};

let elements = document.getElementsByClassName("toggled-head__toggle-button");
for (let i = 0; i < elements.length; i++) {
  elements[i].onclick = function(){
    this.classList.toggle('rotate')
  };
}

</script>

</body>
</html>
