<div class="formAuth" [@enterAnimation]><a href="http://liftme.pro" class="formAuth__close">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
    <path d="M12.1,10l7.4-7.4c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L10,7.9L2.6,0.5C2-0.1,1.1-0.1,0.5,0.5s-0.6,1.5,0,2.1L7.9,10 l-7.4,7.4c-0.6,0.6-0.6,1.5,0,2.1c0.3,0.3,0.7,0.4,1.1,0.4s0.8-0.1,1.1-0.4l7.4-7.4l7.4,7.4c0.3,0.3,0.7,0.4,1.1,0.4 c0.4,0,0.8-0.1,1.1-0.4c0.6-0.6,0.6-1.5,0-2.1L12.1,10z"></path>
  </svg></a>
  <app-rocket [stage]="stage" class="formAuth__image"></app-rocket>
  <form class="formAuth__forgot" [formGroup]="forgetPasswordForm" (submit)="onSubmit()">
    <h1 class="formAuth__title">Забыли пароль?</h1>
    <p class="formAuth__sended" *ngIf="emailSended">Ссылка для восстановления пароля отправлена на почту.</p>
    <input *ngIf="!emailSended" formControlName="email" class="formAuth__field formAuth__field_email" type="email" placeholder="Email" (ngModelChange)="onEmailChange($event)" />
    <p class="text-danger">{{errorMessage}}</p>
    <div class="formAuth__submit">
      <button class="btn btn_block formAuth__submitBtn" type="submit" [disabled]="forgetPasswordForm.invalid || loading" *ngIf="!emailSended">Подтвердить</button>
      <button class="btn btn_block formAuth__submitBtn" type="nutton" routerLink="/auth/login" *ngIf="emailSended">Вернуться</button>
    </div>
    <div class="formAuth__toSingIn"><a routerLink="/auth/login">Войти.</a></div>
  </form>
</div>
