<div class="user-list">
    <div class="title">
        <h5>Ставить лайки аккаунтам, по списку пользователей:</h5>
    </div>
    <div class="condition no-border">
      <app-select [options]="usersList" placeholder="Введите параметры фильтра"></app-select>
        <!-- <button type="button" class="btn create-list">Создать список</button> -->
    </div>
</div>
<!-- <div class="scheduler-option user-count">
    <span>Количество пользователей:</span>
    <input type="number">
    <img src="/assets/icons/question-transparent.png" alt="">
</div>
<div class="scheduler-option">
    <span>Количество лайков на одного пользователя:</span>
    <input type="number">
</div>
<div class="scheduler-likes-total d-flex align-items-center justify-content-center">
    <div class="total">
        <span>Итого: <span class="bold">900 лайков</span> </span>
    </div>
    <div class="recommended-limits">
        <span>Рекомендуемые лимиты</span>
    </div>
</div> -->
