  <div class="formAuth" [ngClass]="{'formAuth_close': stage === 3}" [@enterAnimation]>
      <a href="http://liftme.pro" class="formAuth__close">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M12.1,10l7.4-7.4c0.6-0.6,0.6-1.5,0-2.1s-1.5-0.6-2.1,0L10,7.9L2.6,0.5C2-0.1,1.1-0.1,0.5,0.5s-0.6,1.5,0,2.1L7.9,10 l-7.4,7.4c-0.6,0.6-0.6,1.5,0,2.1c0.3,0.3,0.7,0.4,1.1,0.4s0.8-0.1,1.1-0.4l7.4-7.4l7.4,7.4c0.3,0.3,0.7,0.4,1.1,0.4 c0.4,0,0.8-0.1,1.1-0.4c0.6-0.6,0.6-1.5,0-2.1L12.1,10z"></path>
        </svg>
    </a>
    <app-rocket [stage]="stage" class="formAuth__image"></app-rocket>

    <form class="formAuth__signIn" [formGroup]="signInForm" (submit)="onSubmit()">
      <h1 class="formAuth__title">Войти</h1>
      <input formControlName="email" class="formAuth__field formAuth__field_email" type="email" placeholder="Email" />
      <label class="formAuth__labelPass">
        <input formControlName="password" class="formAuth__field formAuth__field_password" type="password"
          placeholder="Пароль" /><span class="formAuth__passEye"></span>
      </label>

      <div class="formAuth__remember">
        <div class="formAuth__rememberMe">
          <label class="checkbox">
            <input class="checkbox__field" type="checkbox" /><span class="checkbox__fake"></span><span
              class="checkbox__text">Запомнить меня</span>
          </label>
        </div>
        <div class="formAuth__rememberForgot" routerLink="/auth/recover">Забыли пароль?</div>
      </div>

      <p class="tex-center error text-danger" *ngIf="backendErrors$ | async" >{{backendErrors$ | async}}</p>

      <div class="formAuth__submit">
        <button [disabled]="signInForm.invalid || (isSubmitting$ | async)" class="btn btn_block formAuth__submitBtn"
          type="submit">Войти</button>
      </div>
      <div class="formAuth__toSingUp">Еще нет аккаунта? <a routerLink="/auth/signup">Зарегистрироваться</a></div>
    </form>
  </div>
