app-followers-details {
  position: relative;
}

.mat-dialog-container {
  height: 710px;
  padding: 50px 50px 0 50px !important;
  border-radius: 8px !important;
}

div.header-section {
  width: 97%;
  height: 70px;
  margin-left: 16px;
  padding-bottom: 1ex;
  margin-bottom: 1ex;
  border-bottom: 1px solid #E2E1E1;

  div.title {
    float: left;
    width: 75%;
  }
  div.close-button {
    float: right;
    text-align: right;
    width: 24%;
    margin-right: -12px;

    .fa-times {
      color: #898888;

      &:hover {
        cursor: pointer;
      }
    }
  }
  div.close-button-vertical {
    float: right;
    text-align: right;
    width: 24%;

    .fa-times {
      color: #898888;

      &:hover {
        cursor: pointer;
      }
    }
  }

  div.title > h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.005em;
  }
  @media (max-width: 650px) {
    div.title > h2 {
      font-size: 24px;
      line-height: 28px;
    }
  }


  div.close-button > i.fa-times {   //
    color: #898888;

    &:hover {
      cursor: pointer;
    }
  }

  div.event-date {
    width: 100%;
    float: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.005em;
  }
  @media (max-width: 650px) {
    div.event-date {
      font-size: 16px;
      line-height: 19px;
      padding-bottom: 0.5ex;
    }
  }

}

  div.filter-group {
    margin-bottom: 1.5ex;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;

    div.filter-tags {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 94%;

      margin-top: 0.5ex;
      padding-left: 16px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 22px;
      line-height: 28px;

      div.title {
        float: left;
        width: 180px;
        margin-left: -5px;
        padding-top: 6px;
      }

      div.tag-list {
        float: left;
        margin-left: 1em;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 10px;

        div.tag-item {
          border-radius: 4px;
          background-color: #E7F1F9;
          padding: 4px 8px;
          font-size: 16px;
          font-weight: 500;
          flex-shrink: 1;
          flex-basis: auto;
          color: #848484;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.005em;
        }
      }
    }
  }

  div.filter-group-vertical {
    margin-bottom: 1.5ex;

    div.filter-tags-vertical {
      margin-top: 0.5ex;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.005em;
      color: #121111;

      div.title {
        width: 100%;
        margin-top: 4px;
        padding-left: 8px;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.005em;
      }

      div.tag-list {
        margin-left: 1ex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 10px;

        span.tag-item {
          border-radius: 4px;
          background-color: #E7F1F9;
          padding: 4px 8px;
          font-size: 16px;
          font-weight: 500;
          flex-shrink: 1;
          flex-basis: auto;
          color: #848484;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 23px;
          letter-spacing: 0.005em;
        }

      }
    }
  }

/* **************** End of Header section **************** */

#followers-card {
  border: 0.5px solid rgba(18, 17, 17, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 8px;

  padding-top: 1ex;
  width: 96%;
  height: 330px;
  background-color: #F7F8FA;

  div.title {
    width: 100%;
    padding-top: 1.5ex;
    text-align: center;
    height: 32px;

    span:first-child {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.005em;
    }
    span.separator {
      display: inline-block;
      width: 1em;;
    }
    span:last-child {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.005em;
    }
  }

  div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: flex-start;
    gap: 30px;

    margin-top: 26px;
    height: 230px;
    padding-left: 32px;
    padding-right: 32px;
  }

  div.followers-card-panel {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    padding-top: 32px;
    padding-left: 32px;

    background-color: white;
    border: 0.5px solid rgba(18, 17, 17, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
  }
  div.followers-card-panel > h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #121111;
    margin-bottom: 24px;
  }
  div.followers-card-panel > p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.005em;
    color: #121111;
    margin-bottom: 1ex;
  }
}

#followers-card-vertical {
  border: 0.5px solid rgba(18, 17, 17, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 8px;

  padding-top: 1ex;
  width: 94%;
  padding-bottom: 2ex;
//  height: 330px;
  background-color: #F7F8FA;

  div.title {
    width: 100%;
    padding-top: 1.5ex;
    text-align: center;
//    height: 32px;

    div:first-child {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.005em;
      color: #121111;
      // margin-top: 16px;
    }
    div:last-child {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.005em;
      color: #121111;
    }
  }

  div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;
    row-gap: 10px;

    margin-top: 26px;
//    height: 230px;
    padding-left: 32px;
    padding-right: 32px;
  }

  div.followers-card-panel-vertical {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 270px;
    padding-top: 16px;
    padding-bottom: 8px;
    padding-left: 32px;

    background-color: white;
    border: 0.5px solid rgba(18, 17, 17, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.005em;
      color: #121111;
      margin-bottom: 1.5ex;
    }

    p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.005em;
      color: #121111;
      margin-bottom: 1ex;
    }
  }
}

div.dialog-buttons-row {
  width: 94%;
  padding-left: 8px;
  margin-top: 3ex;
  height: 75px;

  button {
    float: right;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.005em;

    &.task-ready {
      width: 362px;
      height: 64px;
      background-color: #3398CC;
    }
    &.task-ready:hover {
      cursor: default;
    }

    &.task-stop {
      width: 242px;
      height: 64px;
      background-color: #CDCDCD;
    }
  }

  span.separator {
    display: block;
    width: 27px;
    float: right;
  }
}

div.dialog-buttons-row-vertical {
  display: flex;
  flex-direction: row;
  margin-top: 2ex;
  margin-left: 8px;
  margin-right: 16px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  gap: 10px;
  row-gap: 10px;

  button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 144px;
    height: 40px;

    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.005em;

    &.task-ready {
      background-color: #3398CC;
      color: #FFFFFF;
    }

    &.task-stop {
      background-color: #CDCDCD;
      color: #121111;
    }
  }
}
